@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("OpenSans-Italic"),
    url("../fonts/OpenSans-Italic.woff2") format("woff2"),
    url("../fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --light-color: #c283f3;
  --main-color: #9d5cd0;
  --dark-color: #7943a4;
  --biloba-flower-color: #d1a9f0;
}

body {
  margin: 0 auto;
  font: 16px/72px "Open Sans", sans-serif;
  color: #333;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  margin-top: 0;
}
ul {
  padding: 0;
  list-style: none;
}

a,
button {
  outline: none;
}

.header-top {
  padding: 30px 0px;
  background-color: #000;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}

.header__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-B {
  background-repeat: no-repeat;
  background-position: 0 center;
  background-image: url("../img/Vector.svg");
  background-size: 13px 13px;
  padding-left: 20px;
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  transition: color 500ms;
}

.logo-B:hover,
.logo-B:focus {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #7943a4;
}

/* Текстовой блок */
.header__menu {
  margin-right: auto;
}

.menu-list {
  display: flex;
  margin-left: 175px;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item:not(:nth-child(6n)) {
  margin-right: 62px;
}

.menu-link {
  color: #fff;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
}

.menu-link:hover {
  color: #9d5cd0;
}

.menu-link:focus {
  color: #fff;
  background-color:#7943a4;
}

.menu-link:active {
  color: #9d5cd0;
  outline: none;
  background-color: #9d5cd0;
}

/* slider */
.hero__slide {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  animation: zoom alternate 20s linear infinite;
}

.hero__slide--1 {
  background-image: url('../img/museums_1.jpg');
}

.hero__slide--2 {
  background-image: url('../img/museums_2.png');
}

.hero__slide--3 {
  background-image: url('../img/museums_3.png');
}

.art-gallery {
  position: relative;
}

.art__swiper {
  position: absolute;
  top: -73px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* 1 блок main*/
.first-section {
  margin-bottom: 80px;
}

.museums-section {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  background-color: #66737a;
  background-size: cover;
  background-position: center;
}

.paint-museums {
  max-width: 800px;
  padding-top: 133px;
  padding-bottom: 92px;
  padding-left: 160px;
}

.museums-title {
  position: relative;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  line-height: 82px;
  color: #fff;
  margin-bottom: 1px;
}

.text {
  position: relative;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 97px;
  max-width: 579px;
}

.subscriptions {
  position: relative;
  display: inline-block;
  padding: 17px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background-color: #9d5cd0;
  cursor: pointer;
  border-radius: 50px;
  transition: border-color, 500ms;
}

a.subscriptions:active {
  background-color: #9d5cd0;
}

.subscriptions:hover,
.subscriptions:focus {
  background-color: #7943a4;
}

/* Текстовой  2 блок-меню */
.header-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100%;
}

.header__bottom-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dropdown__btn {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  margin-right: 4px;
  color: #fff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dropdown__btn.open+.dropdown__list {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.dropdown__list {
  position: absolute;
  top: 45px;
  width: 300px;
  max-height: 316px;
  padding: 40px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 100;
}

.menu-item-descriptions:not(:nth-child(5n)) {
  margin-right: 97px;
}

.dropdown__btn:hover {
  color: var(--main-color);
}

.dropdown__btn:active {
  color: var(--dark-color);
}

.dropdown__btn:focus {
  background-color: var(--main-color);
  color: #fff;
}

.dropdown__btn::before {
  right: 5px;
  transform: rotate(45deg);
}

.open.dropdown__btn::before,
.dropdown__btn:active::before {
  transform: rotate(-45deg);
}

.dropdown__btn::after {
  right: 0;
  transform: rotate(45deg);
}

.open.dropdown__btn::after,
.dropdown__btn:active::after {
  transform: rotate(-45deg);
}



.dropdown__item {
  width: 100%;
  padding: 12px 0 12px 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 2px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
  cursor: pointer;
}

.dropdown__item:hover {
  border: 2px solid var(--main-color);
}

.dropdown__item:active {
  background-color: rgba(194, 131, 243, 0.4);
  background-blend-mode: screen;
}

.realizm_1 {
  background-image: url('../img/realism-1.jpg');
}

.realizm_2 {
  background-image: url('../img/realism-2.jpg');
}

.realizm_3 {
  background-image: url('../img/realism-3.jpg');
}

.realizm_4 {
  background-image: url('../img/realism-4.jpg');
}

.impressionism_1 {
  background-image: url('../img/impressionism-1.jpg');
}

.impressionism_2 {
  background-image: url('../img/impressionism-2.jpg');
}

.impressionism_3 {
  background-image: url('../img/impressionism-3.jpg');
}

.impressionism_4 {
  background-image: url('../img/impressionism-4.jpg');
}

.postimpressionism_1 {
  background-image: url('../img/postimpressionism-1.jpg');
}

.postimpressionism_2 {
  background-image: url('../img/postimpressionism-2.jpg');
}

.postimpressionism_3 {
  background-image: url('../img/postimpressionism-3.jpg');
}

.postimpressionism_4 {
  background-image: url('../img/postimpressionism-4.jpg');
}

.vanguard_1 {
  background-image: url('../img/vanguard-1.jpg');
}

.vanguard_2 {
  background-image: url('../img/vanguard-2.jpg');
}

.vanguard_3 {
  background-image: url('../img/vanguard-3.jpg');
}

.vanguard-4 {
  background-image: url('../img/vanguard-4.jpg');
}

.futurism_1 {
  background-image: url('../img/futurism-1.jpg');
}

.futurism_2 {
  background-image: url('../img/futurism-2.jpg');
}

.futurism_3 {
  background-image: url('../img/futurism-3.jpg');
}

.futurism_4 {
  background-image: url('../img/futurism-4.jpg');
}


/* select */
.btn-reset {
  padding: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.choices {
  --select-filter-height: 40px;
  --select-filter-padding-lr: 10px;
  width: 100%;
  height: var(--select-filter-height);
  color: #fff;
  transition-property: background-color, transform;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.choices[role="listbox"]::after {
  display: inline-block;
  position: absolute;
  right: 13px;
  border: none;
  margin-top: 0;
  width: 12px;
  height: 100%;
  background-image: url('../../img/gallery/select-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  transition: transform .3s ease-in-out;
}

.choices[role="listbox"].is-open::after {
  margin-top: 0;
  transform: translateY(-48%) rotate(-180deg);
  transition: transform .3s ease-in-out;
}

.choices__inner {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #fff;
  border-radius: 6px;
  padding-left: var(--select-filter-padding-lr);
  padding-right: var(--select-filter-padding-lr);
  padding-top: 6px;
  padding-bottom: 2px;
  min-height: var(--select-filter-height);
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, .2);
  transition: background-color .3s ease-in-out;
}

.choices:focus-visible {
  background-color: rgba(255, 255, 255, .2);
  transition: background-color .3s ease-in-out;
}

.is-open .choices__inner,
.is-focused .choices__inner {
  border-radius: 6px;
}

.choices__list--dropdown {
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
}

.choices__item {
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__item.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.choices__list--dropdown .choices__item--selectable:active {
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.choices__list--dropdown .choices__item--selectable::after {
  display: none;
}


/* serch*/
.btn-reset {
  padding: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header__bottom-form {
  display: flex;
  align-items: center;
}

.header__bottom-btn {
  margin-right: 9px;
}

.header__bottom-input {  
  border-bottom: 1px solid #fff;
  outline: none;
  cursor: pointer;
  caret-color: #fff;
  color: #fff;
  transition: border-color .3s ease-in-out;
}

.header__bottom-input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.header__bottom-form:hover .header__bottom-input {
  border-color: var(--light-color);
}

.header__bottom-form:active .header__bottom-input {
  border-color: var(--dark-color);
}

.header__bottom-form:focus-visible .header__bottom-input {
  border-color: var(--light-color);
}


/* 3 блок */
.three-section {
  margin-bottom: 80px;
}

.title {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  color: #333;
  margin-bottom: 16px;
}

.three-text {
  max-width: 1080px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #333;
  margin-bottom: 44px;
  background-position: left;
}
