@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("OpenSans-Italic"),
    url("../fonts/OpenSans-Italic.woff2") format("woff2"),
    url("../fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --light-color: #c283f3;
  --main-color: #9d5cd0;
  --dark-color: #7943a4;
  --biloba-flower-color: #d1a9f0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dove-gray: #666666;
  --color-silver: #CACACA;
  --color-nobel: #B7B7B7;
  --color-gallery: #ECECEC;
  --color-dust-gray: #999999;
  --color-piction-blue: #2AABEE;
  --color-apple: #30BF39;
  --color-mine-shaft: #333333;
  --transition-color: color 0.3s ease-in-out;
  --transition-border-color: border-color .3s ease-in-out;
  --transition-transform: transform .3s ease-in-out;
  --transition-background-color: background-color .3s ease-in-out;
  --transition-opacity: opacity .3s ease-in-out;  
  --color-heliotrope: #C283F3;
  --color-royal-purple: #7943A4;
  --color-amethyst: #9D5CD0;
}

body {
  margin: 0 auto;
  font: 16px/72px "Open Sans", sans-serif;
  color: var(--color-mine-shaft);
  font-weight: 400;
  max-width: 1920px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a,
button {
  outline: none;
}

.header-top {
  padding: 20px 0;
  background-color: #000;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.login {
  text-align: center;
  color: var(--color-white);
  font-size: 18px;
  line-height: 1;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.login-svg {
  margin-right: 7px;
}

.login-svg:hover {
  color: var(--main-color);
}

.login:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--main-color);
}

.login:hover {
  color: var(--main-color);
}

.login-svg 
.login:active {
  color: var(--color-white);
  background-color: var(--main-color);
}

/* Текстовой блок */
.header__menu {
  margin-right: auto;
}

.menu-list {
  display: flex;
  margin-left: 175px;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item:not(:nth-child(6n)) {
  margin-right: 62px;
}

.menu-link {
  color: var(--color-white);
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .3s;
}

.menu-link:hover {
  color: var(--main-color);
}

.menu-link:focus {
  color: var(--color-white);
  background-color: var(--dark-color);
}

.menu-link:active {
  color: var(--main-color);
  outline: none;
  background-color: var(--main-color);
}

/* slider */
.hero__slide {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  animation: zoom alternate 20s linear infinite;
}

.hero__slide--1 {
  background-image: url('../img/museums_1.jpg');
}

.hero__slide--2 {
  background-image: url('../img/museums_2.png');
}

.hero__slide--3 {
  background-image: url('../img/museums_3.png');
}

.art-gallery { 
  min-height: 800px;
  position: relative;
}

.art__swiper {
  position: absolute;
  top: -74px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

/* 1 блок slider */
.first-section {
  width: 100%;
  margin-bottom: 80px;
}

.museums-section {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  background-color: #66737a;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.museums__container {
  padding-top: 63px;
  padding-bottom: 122px;
}

.museums-title {
  max-width: 597px;
  margin-top: 0;
  position: relative;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-white);
  margin-bottom: 1px;
}

.text {
  position: relative;
  font-style: normal;
  font-weight: 700;
  color: var(--color-white);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 97px;
  max-width: 579px;
}

.subscriptions {
  position: relative;
  display: inline-block;
  padding: 17px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 50px;
  transition: border-color, 500ms;
}

.subscriptions:active {
  background-color: var( --dark-color);
  outline: 2px solid var(--biloba-flower-color);
}

.subscriptions:hover {
  outline: 3px solid var(--biloba-flower-color);
  background-color: var( --dark-color);
}

.subscriptions:focus {
  background-color: var(--main-color);
  outline: 2px solid var(--light-color);
}

/* Текстовой  2 блок-меню */				
.header-bottom { 
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.header__bottom-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*button-кнопка*/
.dropdown__btn {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  padding-right: 14px;
  color: var(--color-white);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dropdown__btn.open+.dropdown__list {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.dropdown__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 70px;
  width: 300px;
  height: 300px;
  padding: 40px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1;
}

.menu-item-descriptions:not(:nth-child(5n)) {
  margin-right: 97px;
}

.dropdown__btn:hover {
  color: var(--main-color);
}

.dropdown__btn:active {
  color: var(--dark-color);
}

.dropdown__btn:focus-visible {
  background-color: var(--main-color);
  color: var(--color-white);
}

.dropdown__btn.open {
  color: var(--dark-color);
  transition: color .3s ease-in-out;
}

.dropdown__btn::before,
.dropdown__btn::after {
  content: '';
  position: absolute;
  bottom: 6px; 
  height: 1px;
  width: 7px;
  background-color: var(--color-white);
  transition: .3s ease-in-out;
}

.dropdown__btn:hover::before,
.dropdown__btn:hover::after {
  background-color: var(--main-color);
}

.dropdown__btn:active::before,
.dropdown__btn:active::after {
  background-color: var(--dark-color);
}

.dropdown__btn:focus-visible::before,
.dropdown__btn:focus-visible::after {
  background-color: var(--color-white);
}

.open.dropdown__btn::before,
.open.dropdown__btn::after {
  background-color: var(--dark-color);
  transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

.dropdown__btn::before {
  right: 5px;
  transform: rotate(45deg);
}

.open.dropdown__btn::before,
.dropdown__btn:active::before {
  transform: rotate(-45deg);
}

.dropdown__btn::after {
  right: 0;
  transform: rotate(-45deg);
}

.open.dropdown__btn::after,
.dropdown__btn:active::after {
  transform: rotate(45deg);
}

.dropdown__item { 
  padding: 10px 0; 
  position: relative;
  display: flex;
  min-width: 220px;
  min-height: 40px;
  background-size: cover;
  border: 2px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.dropdown-item::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: var(--transition-opacity);
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__item:hover {
  border: 2px solid var(--main-color);
}

.dropdown__item:active {
  background-color: rgba(194, 131, 243, 0.4);
  background-blend-mode: screen;
}

.header__link {
  position: relative;
  padding-left: 14px;
  display: block; 
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white);
  z-index: 1;
}

.realizm_1 {
  background-image: url('../img/heder-bottom/realism_1.jpg');
}

.realizm_2 {
  background-image: url('../img/heder-bottom/realism_2.jpg');
}

.realizm_3 {
  background-image: url('../img/heder-bottom/realism_3.jpg');
}

.realizm_4 {
  background-image: url('../img/heder-bottom/realism_4.jpg');
}

.impressionism_1 {
  background-image: url('../img/heder-bottom/impressionism_1.jpg');
}

.impressionism_2 {
  background-image: url('../img/heder-bottom/impressionism_2.jpg');
}

.impressionism_3 {
  background-image: url('../img/heder-bottom/impressionism_3.jpg');
}

.impressionism_4 {
  background-image: url('../img/heder-bottom/impressionism_4.jpg');
}

.postimpressionism_1 {
  background-image: url('../img/heder-bottom/postimpressionism_1.jpg');
}

.postimpressionism_2 {
  background-image: url('../img/heder-bottom/postimpressionism_2.jpg');
}

.postimpressionism_3 {
  background-image: url('../img/heder-bottom/postimpressionism_3.jpg');
}

.postimpressionism_4 {
  background-image: url('../img/heder-bottom/postimpressionism_4.jpg');
}

.vanguard_1 {
  background-image: url('../img/heder-bottom/vanguard_1.jpg');
}

.vanguard_2 {
  background-image: url('../img/heder-bottom/vanguard_2.jpg');
}

.vanguard_3 {
  background-image: url('../img/heder-bottom/vanguard_3.jpg');
}

.vanguard_4 {
  background-image: url('../img/heder-bottom/vanguard_4.jpg');
}

.futurism_1 {
  background-image: url('../img/heder-bottom/futurism_1.jpg');
}

.futurism_2 {
  background-image: url('../img/heder-bottom/futurism_2.jpg');
}

.futurism_3 {
  background-image: url('../img/heder-bottom/futurism_3.jpg');
}

.futurism_4 {
  background-image: url('../img/heder-bottom/futurism_4.jpg');
}
				
/* simplebar skroll */
.simplebar-track {
  background-color: var(--color-black);
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  right: 19px;
  bottom: 40px;
  width: 2px;
  background-color: var(--color-black);
}

.simplebar-scrollbar::before {
  border-radius: 0;
  background-color: var(--color-white);
  transition: opacity .3s ease-in-out;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  content:'';
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

/* serch*/
.btn-reset {
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header__bottom-form {
  display: flex;
  align-items: center;
}

.header__bottom-btn {
  margin-right: 9px;
}

.header__bottom-input {  
  border-bottom: 1px solid var(--color-white);
  outline: none;
  cursor: pointer;
  caret-color: var(--color-white);
  color: var(--color-white);
  transition: border-color .3s ease-in-out;
}

.header__bottom-input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}

.header__bottom-form:hover .header__bottom-input {
  border-color: var(--light-color);
}

.header__bottom-form:active .header__bottom-input {
  border-color: var(--dark-color);
}

.header__bottom-form:focus-visible .header__bottom-input {
  border-color: var(--light-color);
}

/* three-section*/
.three-section {
  margin-bottom: 80px;
}

.three-text {
  max-width: 1080px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-mine-shaft);
  margin-bottom: 44px;
  background-position: left;
}

/*gallery*/
.gallery { 
  margin-bottom: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/fon_museum.jpg');
  color: var(--color-white);
}

.gallery__container {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.gallery__filter {
  margin-right: 50px;
  width: 25%;
}

.title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: inherit;
}

.gallery__filter-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  font-weight: 600;
}

.gallery__swiper {
  position: relative;
  width: 1000px;
}

.gallery__wrapper {
  width: 350px;
}

.swiper-nav {
  display: flex;
  padding-top: 21px;
  padding-left: 3px;
  height: 51px;
  margin-bottom: 30px;
}

.pagination,
.prev,
.next {
  position: static;
  width: max-content;
}

.prev,
.next {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-dust-gray);
  border: 2px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.prev:hover,
.next:hover {
  background-color: var(--main-color);
}

.prev:active,
.next:active {
  border-color: var(--color-black);
}

.prev:focus-visible,
.next:focus-visible {
  border-color: var(--color-black);
}

.prev {
  margin-right: 18px;
}

.prev::after,
.next::after {
  font-size: 10px;
  color: var(--color-white);
}

.pagination {
  align-self: center;
  margin-right: 19px;
  font-size: 16px;
}

.gallery__swiper-container {
  display: flex;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;  
}

.gallery__slide {
  position: relative;
}

.gallery__slide::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  border: 25px solid transparent;
  background-color: rgba(0, 0, 0, .5);
  background-image: url('../img/gallery/slide-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25% 25%;
  box-sizing: border-box;
  opacity: 0;
  transition-property: opacity, border-color, top, left, bottom, right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.gallery__slide:hover:before {
  opacity: 1;
}

.gallery__slide:active::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-color: rgba(194, 131, 243, 0.4);
}

.gallery__slide:focus-visible::before {
  opacity: 1;
}

/* select-choices */
.choices {
  --select-filter-height: 40px;
  --select-filter-padding-lr: 10px;
  width: 100%;
  height: var(--select-filter-height);
  color: var(--color-white);
  transition-property: background-color, transform;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.choices[role="listbox"]::after {
  display: inline-block;
  position: absolute;
  right: 13px;
  border: none;
  margin-top: 0;
  width: 12px;
  height: 12px;
  background-image: url('../img/gallery/select-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  transition: transform .3s ease-in-out;
  z-index: 3;
}

.choices[role="listbox"].is-open::after {
  margin-top: 0;
  transform: translateY(-48%) rotate(-180deg);
  transition: transform .3s ease-in-out;
}

.choices__inner {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  padding-left: var(--select-filter-padding-lr);
  padding-right: var(--select-filter-padding-lr); 
  overflow: hidden;
  min-height: var(--select-filter-height);
  font-size: 16px;
  line-height: 32px;
  padding-top: 3px ; 
  padding-left: 15px;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, .2);
  transition: background-color .3s ease-in-out;
}

.choices:focus-visible {
  background-color: rgba(255, 255, 255, .2);
  transition: background-color .3s ease-in-out;
}

.is-open .choices__inner,
.is-focused .choices__inner {
  border-radius: 6px;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  width: calc(100% - 2px);
  background-color: transparent;
  border: 1px solid var(--color-silver);
  border-radius: 6px;
  transition: visibility .2s ease-in-out;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dust-gray);
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__item {
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid var(--color-dust-gray);
}

.choices__item.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, .2);
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.choices__list--dropdown .choices__item--selectable:active {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, .2);
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  display: inline-block;
}

.choices__list--dropdown .choices__item--selectable::after {
  display: none;
}

/*checkbox*/
.check_box {
  position: absolute;
  top: 355px;
}

.checkbox {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  display: none;
}

.text::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--light-color);
  background-position: center;
  top: 2px;
  left: 2px;
  opacity: 0;
}

.checkbox:checked + text {
  border-color: var(--light-color);
}

.checkbox:checked + text::before {
  opacity: 1;
}

.label {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  position: relative;
  cursor: pointer;
  display: block;
  padding-left: 25px;
}

.label:not(:last-child) {
  margin-bottom: 15px;
}

.checkbox + .text {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-white);
  margin: 0;  
}

.text:hover {
  border: 1px solid var(--light-color);
}

.label:hover {
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  color: var(--light-color);
}

.checkbox + .text::before {
  content: " ";
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .text::before {
  opacity: 1;
}

/* Section-Catalog--accordione */
.section-catalog {
  padding-bottom: 80px;
}

.section-catalog__descr {
  max-width: 1080px; 
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 0px;
}

.section-catalog__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.catalog-title {
  margin-bottom: 23px;
}

.ui-widget {
  font-family: 'OpenSans', sans-serif;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 0;
  border-top: 1px solid var(--color-silver);
  border-bottom: 1px solid var(--color-silver);
}

.section-catalog__bottom {
  display: flex;
  justify-content: space-between;
}

.section-catalog__left {
  margin-right: 50px;
  max-width: 47%;
}

.section-catalog__card {
  display: none;
}

.card-is-active {
  display: block;
}

.section-catalog__card-img {
  object-position: top;
}

.catalog-left-title {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-top: 0;
}

.catalog-left-date {
  font-size: 12px;
  color: var(--color-dust-gray);
}

.catalog-left-descr {
  line-height: 32px;
  margin: 0;
}

.section-catalog__left__link {
  font-size: 16px;
}

.section-catalog__right {
  width: 50%;
}

.accordion-container {
  display: flex;
  align-items: center;
}

.ui-accordion-content-active {
  justify-content: space-around;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  padding: 41px 0;
  margin: 0;
}

.ui-accordion .ui-accordion-content:last-child {
  border-bottom: 1px solid var(--color-silver);
  border-radius: 0;
}

.ui-accordion .ui-accordion-header:not(:first-child) {
  margin-top: -1px;
}

.ui-accordion-header {
  line-height: 32px;
  color: var(--color-mine-shaft);
  background-color: transparent;
  transition: var(--transition-color), var(--transition-border-color);
}

.title-link {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  transition: color .3s ease-in-out;
  user-select: none;  
}

.title-link:hover {
  color: var(--main-color);
}

.ui-icon {
  display: none;
}

.accordion-circle { 
  height: 50px;
  margin-left: auto;
  border: 2px solid var(--color-gallery);
  border-radius: 50%;
  background-color: var(--color-gallery);
}

.accordion-circle:hover {
  background-color: var(--biloba-flower-color);
  transition: var(--transition-background-color), var(--transition-border-color);
}

.ui-state-active .accordion-circle {
  background-color: var(--biloba-flower-color);
  border-color: 1px solid var(--main-color);
  transform: rotate(-180deg);
}

.ui-accordion .ui-accordion-header:active .accordion-circle {
  border-color: var(--color-royal-purple);
}

.ui-accordion .ui-accordion-header:focus-visible .accordion-circle {
  border-color: var(--color-biloba-flower);
  color: var(--color-biloba-flower);
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-left, .ui-corner-tr {
  border-radius: 0;
}

.accordion-list {
  display: block;
  column-fill: auto;
  column-count: 3;
  column-gap: 50px;
  min-height: auto;
  width: 100%;
}

.btn-active {
  color: var(--color-amethyst);
}

.accordion-item {
  width: 100%;
  font-size: 16px;
  line-height: 36px;
}

.image-hidden {
  width: 30%;
  min-height: 165px;
  background-color: var(--color-nobel);
  outline: 2px solid var(--color-nobel);
  outline-offset: 10px;
}

.container-info {
  width: 60%;
}

.container-title-hidden {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}

.container-descr-hidden {
  margin-bottom: 5px;
  width: 55%;
  line-height: 22px;
}

.container-btn-hidden {
  font-weight: 600;
  color: var(--color-amethyst);
}

.ui-accordion .ui-accordion-content {
  padding: 26px 0;
  border: 0;
}

.ui-state-active {
  color: var(--color-royal-purple);
  border-color: var(--color-royal-purple);
}

.accordion-btn {
  display: block;
  color: var(--color-mine-shaft);
  line-height: 32px;
}

.accordion-btn:hover {
  border-bottom: 1px solid  var(--main-color);
  transition: border-bottom-color .3s ease-in-out;
}

.accordion-btn:active {
  background-color: var(--biloba-flower-color);
  color: var(--color-mine-shaft);
}

/* section-Events */
.section-events {
  padding-bottom: 80px;
}

.events-container {
  position: relative;
}

.events-title { 
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
}

.swiper-events {
  position: initial;
}

.section-events__list {
  display: flex;
  width: 100%;
  height: auto;
}

.swiper-events__btn-next, .swiper-events__btn-prev {
  top: 55%;
  height: 50px;
  width: 50px;
  background-color: var(--color-gallery);
  border: 2px solid transparent;
  border-radius: 50%;
  outline: 2px solid transparent;
  transition: background-color .2s ease-in-out, outline .2s ease-in-out;
}

.swiper-events__btn-next.swiper-button-disabled, .swiper-events__btn-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-events__btn-next:hover {
  background-color: var(--biloba-flower-color);
}

.swiper-events__btn-next:focus{
  border-color: var(--dark-color);
}

.swiper-events__btn-next {
  left: auto;
  right: 13px;
}

.swiper-events__btn-prev {
  left: 13px;
  right: auto;
}

.swiper-events__btn-next::after, .swiper-events__btn-prev::after {
  content: "";
  height: 11px;
  width: 11px;
  border-bottom: 1px solid var(--color-mine-shaft);
  border-right: 1px solid var(--color-mine-shaft);
}

.swiper-events__btn-next::after {
  transform: rotate(-45deg);
}

.swiper-events__btn-prev::after {
  transform: rotate(135deg);
}

.section-events__item {
  max-width: 500px;
  width: auto;
  height: auto;
}

.events-article {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}

.events-image {
  display: block;
  object-fit: contain;
}

.events__text {
  margin-top: 0;
  text-align: left;
  margin-bottom: 13px; 
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #999;
}

.events__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px 50px 43px 50px;
  min-height: 400px;
  border-top: none;
}

.body-info {
  display: flex;
  flex-direction: column;
}

.body-info__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.body-info__descr {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 0;
}

.events__descr-link {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.events__descr-link:hover {
  color: var(--color-mine-shaft);
  border-color: var(--color-mine-shaft);
}

.events__descr-link:active {
  color: var(--color-mine-shaft);
  border-color: var(--color-mine-shaft);
}

.events__descr-link:focus-visible {
  background-color: var(--main-color);
  color: var(--color-white);
}

.events-btn__is-active {
  display: none;
}

.swiper-pagination-events {
  position: relative;
  display: none;
  bottom: 0;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet-active {
  background:  var(--color-dove-gray);
}

.events__img {
  width: 100%;
  height: 100%;
}

/*section-Projects*/
.projects {
  margin-bottom: 80px;
}

.projects__text {
  position: relative;
  max-width: 1080px;
  line-height: 32px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
}

.projects__title {
  margin-top: 0;
}

.tooltip-icon {
  border: none;
  background: transparent;
  transform: translateY(3px);
}

.tooltip-icon svg {
  border: 1px solid transparent;
  border-radius: 100px;
  transition: border-color .3s ease-in-out;
}

.tooltip-icon:hover svg,
.tooltip-icon:focus-visible svg {
  border-color: var(--main-color);
}

.tooltip-icon svg path,
.tooltip-icon svg path+path {
  transition: fill .3s ease-in-out;
}

.tooltip-icon:hover svg path,
.tooltip-icon:focus-visible svg path {
  fill: var(--light-color);
}

.tooltip-icon:hover svg path+path,
.tooltip-icon:focus-visible svg path+path{
  fill: var(--color-white);
}

.tippy-tooltip.lightning-theme .tippy-tooltip-content {
  font-size: 5px;
}

.tippy-box[data-theme~='tomato'] {
  background-color: var(--main-color);
  color: var(--color-white);
  border-radius: 0;
  line-height: 16px;
}

.tippy-box[data-theme~='tomato'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--main-color);
}

.projects__link {
  font-weight: 600;
  color: var(--main-color);
  border-bottom: 1px solid transparent;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
}

.projects__link:hover {
  border-color: var(--main-color);
}

.projects__link:focus {
  padding: 0 5px;
  background-color: var(--main-color);
  color: var(--color-white);
}

.projects__link:active {
  color: var(--dark-color);
  border-color: var(--dark-color);
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.projects__wrapper {
  position: relative;
}

.projects__swiper {
  margin: 0 75px;
  max-width: 1450px;
  height: 150px;
}

.projects__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 100%;
  transition: border-color .3s ease-in-out;
}

.projects__picture { 
  filter: contrast(1) opacity(.5) grayscale(1);
  transition: filter .3s ease-in-out, border-color .3s ease-in-out;
}

.projects__slide:hover .projects__picture {
  filter: none;
}

.projects__slide:active {
  border-color: var(--main-color);
}

.projects__slide:focus-visible {
  border-color: var(--main-color);  
}

/* nav */
.projects__swiper-prev {
  left: 0;
}

.projects__swiper-next {
  right: 0;
}

.projects__swiper-prev,
.projects__swiper-next {
  top: 85px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-gallery);
  border: 2px solid transparent;
  color: #000;
  box-sizing: border-box;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.projects__swiper-prev:after,
.projects__swiper-next:after {
  font-size: 10px;
}

.projects__swiper-prev:hover,
.projects__swiper-next:hover {
  background-color: #d1a9f0;
}

.projects__swiper-prev:active,
.projects__swiper-next:active {
  border-color: var(--main-color);
}

/* section-Contacts */
.contacts {
  overflow-x: hidden;
}

.contacts_content {
  border-top: 1px solid var(--color-silver);
}

.contacts__inner {
  display: flex;
}

.contacts__descr {
  margin-right: auto;
}

.contacts__address span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.contacts__address {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
}

.contacts__text {
  margin: 0;
  margin-bottom: 17px;
  font-size: 24px;
}

/*form*/
.content-left__title {
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.contacts__inner {
  padding: 38px 0; 
}

.content-left__descr {
  font-size: 16px;
  font-style: normal;
}

.form {
  max-width: 950px;
}

.refer-request {
  display: flex;
  align-items:center;
  justify-content: space-between;
  column-gap: 20px;
  font-size: 16px;
  line-height: 32px;
}

input.notify { 
  width: 270px;
  height: 50px; 
  color: var(--color-dust-gray);
  line-height: 32px;
  padding: 11px 24px;
  border-radius: 50px; 
  margin-top: 5px; 
  background-color: var(--color-white);
  outline: none;
  border: 1px solid var(--color-mine-shaft);
  font-weight: 400;
  transition: background-color .3s ease-in-out;
}

input.notify:hover {
  background-color: #eaeaea;
}

.order {
  width: 300px;
  height: 50px;
  display: inline-block;
  padding: 11px 24px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  color: var( var(--main-color));
  border: none;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  cursor: pointer;
  transition: color .5s ease-in-out, background-color .5s ease-in-out,
  border-color .5s ease-in-out;
}

.order:hover {
  background-color: var(--main-color);
  color: var(--color-white);
}

.doc-form {
  position: relative;
  font-size: 12px;
  line-height: 14px;
}

.js-validate-error-label {
  position: absolute;
  top: -20px;
  color: #ff5c00 !important;
}

.js-validate-error-field {
  border: 2px solid #ff5c00 !important;
}

/*social*/
.content-right {
  margin-left: auto;
}

.content-right__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.content-right__link {
  display: inline-block;
  height: 40px;
  transition: var(--transition-opacity);
}

.content-right__link:not(:last-child) {
  margin-right: 20px;
}

.link-telegram {
  color: var(--color-piction-blue);
}

.link-whatsapp {
  color: var(--color-apple);
}

.content-right__link svg {
  border: 2px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
}
.content-right__link:hover {
  opacity: 0.6;
  transition: .3s;
}

.content-right__link:focus-visible  {
  outline: none;
  opacity: 0.6;
}

.content-right__link:active {
  box-shadow: 0 0 0 1px #9643A4;
  border: 1 solid #9643A4;
  opacity: 1;
}

/* map*/
.contacts__map {
  max-width: 100%;
  min-height: 700px;
  margin-top: -1px; 
  background-color: rgb(201, 192, 192);
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/*footer*/
.footer {
  background-color: #000;
  padding: 50px 0px;
}

.footer-container {
  justify-content: space-between;
  display: flex;
}

.box-left {
  margin-right: auto;
}

.social-icons {
  margin: 0;
  display: flex;
}

.social-icons a {
  background-size: contain;
  display: block;
  cursor: pointer;
  color: var(--color-silver);
  width: 45px;
  height: 45px; 
  transition-duration: 500ms;
}

.social-icons a:hover {
  color: var(--color-white);
}

.social-icons a:focus {
  color: var(--color-white);
}

.social-icons a:active {
  color: var(--main-color);
}

.social-icons li:nth-last-child(n + 2) {
  margin-right: 21px;
}